%div{:class=>"rows aRow ctr"}
 =text_area_tag "use_comment_#{use.id}","<< Add comment",:cols=>"50",:class=>"inpTxt rgt w400px"
%div{:class=>"gap"}
%div{:id=>"comment_comment_#{use.id}",:class=>"rows aRow ctr",:style=>"display:none;"}
 -form_tag update_use_comment_url do
  %div{:id=>"comment_show_#{use.id}"}
  %div{:id=>"comment_save_#{use.id}",:style=>"display:none;",:class=>"ctrBox w412px lft"}
   %div{:class=>"buttons"}
    =submit_tag "Save",:class=>"btn"
    =submit_tag "Cancel",:class=>"btn"
%div{:class=>"gap"}
-comments=use.comments.find :all
-if !comments.empty?
 -comments.each do |comment|
  %div{:id=>"comment_info_#{comment.id}",:class=>"rows aRow ctr"}
   %div{:class=>"ctrBox w412px"}
    %span{:class=>"fl"}="Entered " + comment.created_at.strftime("%d %B %Y %H:%M:%S")
    -first_name=find_user_name_comment(comment)
    -if !first_name.empty?
     %span{:class=>"fr"}="By " + first_name
   =text_area_tag :use_comment,comment.title,:cols=>"50",:class=>"inpTxt rgt w400px",:readonly=>true
   -if @user.privilige=="Admin"
    %div{:class=>"ctrBox w412px rgt"}
    %span{:class=>"smLink"}=link_to "Delete",delete_comment_usecase_url(comment.id),:remote=>true
%div{:class=>"gap"}
