%div{:id=>"editDetails",:class=>"fullBox",:style=>"display:block;"}
  %div{:class=>"rows aRow"}
    %div{:class=>"rows srHead"}
      %span{:class=>"cols w50px"}="UC_" + u.id.to_s
      %span{:class=>"cols w180px"}="Entered " + u.created_at.strftime("%d %B %Y")
      -first_name=find_user_name_use(u)
      -if !first_name.empty?
        %span{:class=>"cols w300px"}="By " + first_name 
    -form_for u,:url=>edit_req_usecase_url(u.id) do |f|
      %div{:class=>"rows"}
        %span{:class=>"cols Txt w80px"}="Description"
        
        -if ((@user.privilige!="Admin" and u.status=="Approved") or @user.privilige=="Read") 
          %span{:class=>"cols w500px"}=f.text_field :name,:maxlength =>"50",:class=>"inpTxt w500px",:disabled=>true
        -else
          %span{:class=>"cols w500px"}=f.text_field :name,:maxlength =>"50",:class=>"inpTxt w500px"
      %div{:class=>"rows"}
        -if @attr.use_goal==true
          %span{:class=>"cols Txt w80px"}="Goal"
          -if ((@user.privilige!="Admin" and u.status=="Approved") or (@user.privilige=="Read"))
            %span{:class=>"cols Txt w500px"}=f.text_area :goal,:rows => 2, :cols => 91,:disabled=>true
          -else
            %span{:class=>"cols Txt w500px"}=f.text_area :goal,:rows => 2, :cols => 91
      %div{:class=>"rows"}
        -if @attr.use_status==true
          %span{:class=>"cols Txt w80px"}="Status"
          -if ((@user.privilige!="Admin" and u.status=="Approved") or @user.privilige=="Read")
            %span{:class=>"cols w150px"}=f.select :status,options_for_select(["Draft","For Review","Approved","Rejected","Cancelled","Implemented"],u.status),{},:class=>"inpSel w120px marR28",:disabled=>true
          -else
            %span{:class=>"cols w150px"}=f.select :status,options_for_select(["Draft","For Review","Approved","Rejected","Cancelled","Implemented"],u.status),{},:class=>"inpSel w120px marR28"
        -if @attr.use_importance==true
          %span{:class=>"cols Txt w80px"}="Importance"
          -if ((@user.privilige!="Admin" and u.status=="Approved") or @user.privilige=="Read")
            %span{:class=>"cols Txt w150px"}=f.select :importance,options_for_select(["Essential","Useful","Interesting","Luxury"],u.importance),{},:class=>"inpSel w120px",:disabled=>true
          -else
            %span{:class=>"cols Txt w150px"}=f.select :importance,options_for_select(["Essential","Useful","Interesting","Luxury"],u.importance),{},:class=>"inpSel w120px"

      %div{:class=>"rows"}
        -if @attr.use_category==true
          %span{:class=>"cols Txt w80px"}="Category"
          -categorized=show_category_list(session[:project_id])
          -if ((@user.privilige!="Admin" and u.status=="Approved") or @user.privilige=="Read")
            %span{:id=>"rows_category_#{u.id}",:class=>"cols w150px"}=f.select :category,categorized.collect {|p| [p] },{:selected=>u.category},:class=>"inpSel w120px marR28",:disabled=>true
          -else
            %span{:id=>"rows_category_#{u.id}",:class=>"cols w150px"}=f.select :category,categorized.collect {|p| [p] },{:selected=>u.category},:class=>"inpSel w120px marR28"
            %div{:id=>"category_popup",:style=>"display:none"}
              %input{:id=>"category_input",:type=>"input"}
              %input{:id=>"category_button1",:type=>"button",:value=>"Save",:class=>"btn"}
              %input{:id=>"cancel_button",:type=>"button",:value=>"Cancel",:class=>"btn"}
            

        -if @attr.use_priority==true
          %span{:class=>"cols Txt w80px"}="Priority"
          -if ((@user.privilige!="Admin" and u.status=="Approved") or @user.privilige=="Read")
            %span{:class=>"cols Txt w150px"}=f.select :priority,options_for_select(["High","Medium","Low"],u.priority),{},:class=>"inpSel w120px",:disabled=>true
          -else
            %span{:class=>"cols Txt w150px"}=f.select :priority,options_for_select(["High","Medium","Low"],u.priority),{},:class=>"inpSel w120px"
      %div{:class=>"rows"}
        -if @attr.req_delivered==true
          %span{:class=>"cols Txt w80px"}="Delivered in"
          -deliveries=show_delivery_list(session[:project_id])
          -if (deliveries.empty?)
            %span{:id=>"rows_delivery_#{u.id}",:class=>"cols w10px"}=f.select :delivered,deliveries.collect {|p| [p] },{:selected=>u.delivered},:class=>"inpSel w120px",:disabled=>true
          -elsif @user.privilige=="Read" and !deliveries.empty?
            %span{:id=>"rows_delivery_#{u.id}",:class=>"cols w10px"}=f.select :delivered,deliveries.collect {|p| [p] },{:selected=>u.delivered},:class=>"inpSel w120px",:disabled=>true
          -else
            %span{:id=>"rows_delivery_#{u.id}",:class=>"cols w10px"}=f.select :delivered,deliveries.collect {|p| [p] },{:selected=>u.delivered},:class=>"inpSel w120px"
            %div{:id=>"delivery_popup",:style=>"display:none"}
              %input{:id=>"delivery_input1",:type=>"input"}
              %input{:id=>"delivery_button1",:type=>"button",:value=>"Save",:class=>"btn"}
              %input{:id=>"cancel_button",:type=>"button",:value=>"Cancel",:class=>"btn"}

      %div{:class=>"buttons"}
        -if (@user.privilige=="Read")
          =submit_tag "Save",:class=>"btn",:disabled=>true
        -else  
          =submit_tag "Save",:class=>"btn"
        =remove_use_req_edit_field submit_tag("Cancel",:class=>"btn"),u
