%div{:class=>"toogleBox"}
 - form_for :user, :url => change_password_url,:remote=>true do |f|
  -if !@user.nil?
   -@user.errors.full_messages.each do |error|
    =error
    %br
  %p
   =f.label "Enter existing password"
   %br
   = f.password_field :old_password
   %div{:id=>"old_password_error"}
  %p
   = f.label :new_password
   %br
   = f.password_field :password
   %div{:id=>"checkPassword"}
  %p
   = f.label :password_confirmation
   %br
   = f.password_field :password_confirmation
   %div{:id=>"checkPasswordCon"}
   = f.submit "Change Password"
   =link_to "Cancel",account_details_url
