<div class="log_con">
	<h1>businessanalysthq.com</h1>
    <div class="log_con_Box">
      <div><h3>Reset your password</h3></div>
      <div class="loginForm">
         <%= form_for @user, :url => reset_password_url do |f| %>
            <div class="rows">
               <%= f.error_messages %><br />

            </div>
            <div class="rows">
               <%= f.label :password %><br />
                  <span><%= f.password_field :password %><br /> </span>
            </div>
            <br />
            <div class="rows">
               <%= f.label :password_confirmation %><br />
                  <span><%= f.password_field :password_confirmation %><br /> </span>
            </div>
            <br />
            <div class="rows">
                  <label><%= submit_tag "Reset password and Log in" %></label>
            </div>
         <% end %>
      </div>
    </div>
</div>
<div class="copyright">
<p><a href="#">Keep in Touch</a> | <a href="#">Twitter</a> | <a href="#">Facebook</a> | <a href="#">Newsletter</a></p>
<p>All text and design is copyright &copy; 1999-2011</p></div>

