%div{:class=>"container"}
 %div{:class=>"projectPanel"}
  %div{:class=>"tabbed_area"}
   %ul{:class=>"tabs"}
    %li=link_to "Pre-conditions",use_case_details_path(:id=>@use_case.id),{:title=>"Pre-conditions"}
    %li=link_to "Post Conditions",post_conditions_url(:id=>@use_case.id),{:title=>"Post Conditions"}
    %li=link_to "Success Conditions",success_conditions_url(:id=>@use_case.id),:title=>"Success Conditions"
    %li=link_to "Triggers",triggers_url(:id=>@use_case.id),:title=>"Triggers"
    %li=link_to "Actors",actors_url(:id=>@use_case.id),{:title=>"Actors"}
    %li=link_to "Business Rules",business_rules_url(:id=>@use_case.id),{:title=>"Business Rules"}
    %li=link_to "Messages",message_url(:id=>@use_case.id),{:title=>"Messages",:class=>"active"}
    %li=link_to "Basic Flow",basic_flow_url(:id=>@use_case.id),{:title=>"Basic Flow"}
   %span{:class=>"content"}
    %div{:class=>"fl w685px1",:id=>"project"}
     %h4="Use case details for #{@use_case.name}"
     %div{:class=>"tabFormat"}
      %div{:id=>"add_message",:class=>"rows aRow ctr"}
       -if @user.privilige!="Read"
        =text_field_tag "use_message","<< Add message",:size=>"50",:class=>"inpTxt_ad rgt w400px"
        %span{:id=>"loading"}=image_tag "spinner.gif"
       -else
        =text_field_tag "use_message","<< Add message",:size=>"50",:class=>"inpTxt_ad rgt w400px",:disabled=>true 
      %div{:class=>"gap"}
      %div{:id=>"add_use_case_detail"}
       -if !@messages.nil?
        -@messages.each do |msg|
         %div{:class=>"rows ctr"}
          -form_tag edit_message_url(msg.id) do
           %span{:class=>"smLink marR7"}="MSG-#{@use_case.id}-#{msg.id}"
           =text_area_tag "message_#{msg.id}",msg.title,:cols=>"50",:class=>"inpTxt rgt w200px "
           =text_area_tag "message_content_#{msg.id}",msg.content,:cols=>"50",:class=>"inpTxt rgt w200px "
           -if @user.privilige!="Read"
            %span{:id=>"show_save_cancel_#{msg.id}",:style => "display:none;"}
             %span{:class=>"smLink"}=submit_tag "Save",:class=>"cButton"
             %span{:class=>"smLink"}=link_to "Cancel",message_url(:id=>session[:use_case_id])
            %span{:class=>"smLink"}=link_to "Delete",delete_message_url(msg.id)
           -else
            %span{:class=>"smLink"}=link_to "Delete","#",:confirm=>t(:message_delete_message_with_out_permisson)
     %span{:class=>"smLink fl"}=link_to "<< Back to use case list",use_cases_path
     %span{:class=>"smLink fr"}=link_to "Basic Flows >>",basic_flow_url(:id=>@use_case.id)
 %div{:class=>"rightPanel"}
  %div{:id=>"storage"}
   %h1="Storage"
   %div{:class=>"rightPanel_show"}=find_storage_use(@user).to_s + "mb from " + find_total_storage_use(@user) + "mb used"
     