%div{:class=>"container"}
 %div{:class=>"projectPanel"}
  %div{:class=>"tabbed_area"}
   %ul{:class=>"tabs"}
    %li=link_to "Pre-conditions",use_case_details_path(:id=>@use_case.id),{:title=>"Pre-conditions"}
    %li=link_to "Post Conditions",post_conditions_url(:id=>@use_case.id),{:title=>"Post Conditions"}
    %li=link_to "Success Conditions",success_conditions_url(:id=>@use_case.id),:title=>"Success Conditions"
    %li=link_to "Triggers",triggers_url(:id=>@use_case.id),:title=>"Triggers"
    %li=link_to "Actors",actors_url(:id=>@use_case.id),{:title=>"Actors"}
    %li=link_to "Business Rules",business_rules_url(:id=>@use_case.id),{:title=>"Business Rules"}
    %li=link_to "Messages",message_url(:id=>@use_case.id),{:title=>"Messages"}
    %li=link_to "Basic Flow",basic_flow_url(:id=>@use_case.id),{:class=>"active",:title=>"Basic Flow"}
   %span{:class=>"line"}
   %div{:class=>"dwnContainer"}
    %div{:id=>"project",:align=>"middle"}
    %b="Use Case : " +  @use_case.name.capitalize
    %br
    %div{:id=>"add_basic_flow"}
     -if @user.privilige!="Read" and @user.privilige!="Approve"
      =text_field_tag "alternate_flow","<< Add an alternate flow",:size=>"50",:style=>"text-align:right"
      %br
      %br
      %div{:id=>"add_use_case_detail",:align=>"middle"}
       -if !@alternate_flows.nil?
        -@alternate_flows.each do |alternate|
         -form_tag edit_alternate_url(alternate.id) do
          =text_field_tag "alternate_flow_#{alternate.id}",alternate.title
          =link_to "Edit",'#',:id=>"alter_save_cancel_#{alternate.id}"
          =link_to "Delete",delete_alternate_url(alternate.id)
          %div{:id=>"show_alter_#{alternate.id}",:style => "display:none;"}
           =submit_tag "Save"
           =link_to "Cancel",'#',:id=>"alter_hide_save_cancel_#{alternate.id}"
           %br
           %div{:id=>"add_alternate",:align=>"middle"}
            =text_area_tag "use_alter_basic_action_#{alternate.id}","<< Add an user action",:size=>"50",:style=>"text-align:right"
            =text_area_tag "use_alter_basic_response_#{alternate.id}","<< Add an user response",:size=>"50",:style=>"text-align:right"
         %div{:id=>"edit_alternate_#{alternate.id}",:align=>"middle",:style => "display:none;"}
          -alter_basics=find_alternate_basic_flow(alternate)
          -if !alter_basics.nil?
           -i=1
           -alter_basics.each do |alter_basic|
            -form_tag edit_alter_basic_flow_url(alter_basic.id) do
             ="Step #{i}"
             =text_area_tag "alter_basic_action_#{alter_basic.id}",alter_basic.action,:readonly=>true
             =text_area_tag "alter_basic_response_#{alter_basic.id}",alter_basic.response,:readonly=>true
             =link_to "Edit",'#',:id=>"alter_basic_edit_#{alter_basic.id}"
             =link_to "Delete",delete_alter_basic_flow_url(alter_basic.id)
             -i=i+1
             %div{:id=>"show_alter_basic_#{alter_basic.id}",:style => "display:none;"}
              =submit_tag "Save"
              =link_to "Cancel",'#',:id=>"alter_basic_hide_#{alter_basic.id}"


          %br
          %br
         %hr{:style=>"width:400px;color:green;"}
         %br   
     -else
      =text_area_tag "alternate_flow","<< Add an alternate flow",:size=>"50",:style=>"text-align:right",:disabled=>true
      %br
      %br
      %div{:id=>"add_use_case_detail",:align=>"middle"}
       -if !@alternate_flows.nil?
        -@alternate_flows.each do |alternate|
         -form_tag edit_alternate_url(alternate.id) do
          =text_field_tag "alternate_flow",alternate.title
          %div{:id=>"show_alter_#{alternate.id}",:style => "display:none;"}
           =submit_tag "Save",:disabled=>true
           =link_to "Cancel",alternate_flow_url(:id=>alternate.basic_flow.id)
          =link_to "Edit",'#',:href=>"#"
          =link_to "Delete",delete_alternate_url(alternate.id),:href=>"#"
         %br
         %br
    =link_to "<< Return to use case detail",basic_flow_url(:id=>@use_case.id)
       