%div{:class=>"container"}
 %div{:class=>"leftPanel"}
  %h1="Search Results"
  %div{:class=>"fcontainer"}
   -if @reqs.nil? || @uses.nil? || @trackers.nil? || @files.nil? || @defs.nil? || @pre.nil? || @basic_flows.nil? || @alter_flows.nil? || @helps.nil?
    ="Result is not found"
   -if @reqs.empty? and @uses.empty? and @trackers.empty? and @files.empty? and @defs.empty? and @pre.empty? and @basic_flows.empty? and @alter_flows.empty? and @helps.empty?
    ="Result is not found"
   -else
    -if !@reqs.empty?
     %b="Requirements"
     %br
     -@reqs.each do |req|
      ="REQ#{req.id}:"
      =link_to req.name,requirement_path(req.id)
      %br
     %hr{:style=>"color:green;"}
     %br
     %br
    -if !@uses.empty?
     %b="UseCases"
     %br
     -@uses.each do |use|
      ="UC#{use.id}:"
      =link_to use.name,use_case_path(use.id)
      %br
     %hr{:style=>"color:green;"}
     %br
     %br
    -if !@pre.empty?
     %b="Pre Conditions"
     %br
     -@pre.each do |pre|
      ="Pre#{pre.id}:"
      =link_to pre.title,show_pre_condition_url(pre.id)
      %br
     %hr{:style=>"color:green;"}
     %br
     %br
    -if !@basic_flows.empty?
     %b="Basic Flows"
     %br
     -@basic_flows.each do |base|
      ="Basic#{base.id}:"
      =link_to base.action,show_basic_flow_url(base.id)
      %br
     %hr{:style=>"color:green;"}
     %br
     %br
    -if !@alter_flows.empty?
     %b="Alternate Flows"
     %br
     -@alter_flows.each do |alter|
      ="Alter#{alter.id}:"
      =link_to alter.title,show_alter_flow_url(alter.id)
      %br
     %hr{:style=>"color:green;"}
     %br
     %br
    -if !@trackers.empty?
     %b="Trackers"
     %br
     -@trackers.each do |t|
      ="TR#{t.id}:"
      =link_to t.title,tracker_path(t.id)
      %br
     %hr{:style=>"color:green;"}
     %br
     %br
    -if !@defs.empty?
     %b="Definitions"
     %br
     -@defs.each do |d|
      ="DEF#{d.id}:"
      =link_to d.term,definition_path(d.id)
      %br
     %hr{:style=>"color:green;"}
     %br
     %br
   
    -if !@files.empty?
     %b="Files"
     %br
     -@files.each do |f|
      ="FILE#{f.id}:"
      =link_to f.file_file_name,project_file_path(f.id)
      %br
     %hr{:style=>"color:green;"}
     %br
     %br
    -if !@helps.empty?
     %b="FAQs"
     %br
     -@helps.each do |d|
      ="FAQ:"
      =link_to d.faq,show_faq_url(d.id)
      %br
     %hr{:style=>"color:green;"}
     %br
     %br


 %div{:class=>"rightPanel"}
  %div{:id=>"storage"}
   %h1="Storage"
   =find_storage(@user).to_s + "mb from " + find_total_storage(@user) + " used"

