-if !@tracker.nil?
 %div{:class=>"rows reqList",:id=>"span_images_track_#{@tracker.id}"}
  %div{:class=>"upper"}
   %span{:class=>"cols w30px noBdr actionItems1"}
    =add_edit_tracker_field image_tag("edit.gif",:id=>"edit_images_#{@tracker.id}",:title=>"Edit Tracker Attributes"),@tracker
   %span{:class=>"cols w200px noBdr"}="Unassigned" if @tracker.assigned.nil?
   %span{:class=>"cols w100px"}=@tracker.category
   %span{:class=>"cols w100px"}="Due" if @tracker.due.nil?
   %span{:class=>"cols w140px noBdr actionItems1"}
    -if @user.privilige!="Read"
     =check_box_tag "track_flag_#{@tracker.id}","",false,:title=>"Mark complete",:style=>"display:none;"
     =link_to image_tag("link-r.png",:id=>"link_r_images_#{@tracker.id}",:alt=>"Add / show linked requirement"),show_tracker_req_url(@tracker.id),:title=>"Link a requirement"
     =link_to image_tag("link-u.png",:id=>"link_u_images_#{@tracker.id}",:alt=>"Add / show linked use case"),show_tracker_use_url(@tracker.id),:title=>"Link a use case"
    -else
     =check_box_tag "track_flag_#{@tracker.id}","",false,:disabled=>true,:title=>"Mark complete",:style=>"display:none;"
     =link_to image_tag("link-r.png",:id=>"link_r_images_#{@tracker.id}",:alt=>"Add / show linked requirement"),"#",:confirm=>t(:tracker_requirement_link_message_with_out_permisson),:title=>"Link a requirement"
     =link_to image_tag("link-u.png",:id=>"link_u_images_#{@tracker.id}",:alt=>"Add / show linked use case"),"#",:confirm=>t(:tracker_usecase_link_message_with_out_permisson),:title=>"Link a use case"

    =add_comment_tracker_field image_tag("comments.gif",:id=>"comment_images_#{@tracker.id}",:alt=>"Add Comments"),@tracker,@user
    -if @user.privilige!="Read"
     =link_to image_tag("delete.gif",:id=>"delete_images_#{@tracker.id}",:title=>"Delete tracker"),tracker_url(@tracker.id),:method => :delete
    -else
     =link_to image_tag("delete.gif",:id=>"delete_images_#{@tracker.id}",:title=>"Delete tracker"),"#",:confirm => t(:tracker_remove_message_with_out_permisson)
    
  %div{:class=>"lower"}
   =@tracker.title
 %div{:id=>"edit_#{@tracker.id}"}
 %div{:id=>"comment_#{@tracker.id}"}
