%div{:class=>"container"}
 %div{:id=>"tracker",:class=>"leftPanel"}
  %h1="Requirements"
  %div{:class=>"fl w685px"}
   %h4="Trackers for #{@req.name}"
   %div{:class=>"tabFormat"}
    %div{:id=>"add_tracker_text",:align=>"middle"}
     %div{:class=>"rows aRow ctr"}
      ="Linked Tracker"
      -if !session[:project_id].nil? and @user.privilige!="Read" 
       =text_field_tag :tracker_req_name,"<< Start typing to add a tracker",:size=>"50",:class=>"inpTxt_ad rgt w400px"
       %span{:id=>"loading"}=image_tag "spinner.gif"
      -else
       =text_field_tag :tracker_req_name,"<< Start typing to add a tracker",:size=>"50",:class=>"inpTxt_ad rgt w400px",:disabled=>true
     %div{:class=>"gap"}  
    %div{:id=>"add_tracker",:align=>"middle"}
     -if !@tracker_reqs.nil?
      -@tracker_reqs.each do |tracker|
       %div{:class=>"rows reqList",:id=>"span_images_track_req_#{tracker.id}"}
        %div{:class=>"upper"}
         %span{:class=>"cols w30px noBdr actionItems1"}
          =add_edit_tracker_req_field image_tag("edit.gif",:id=>"edit_images_#{tracker.id}",:title=>"Edit Tracker Attributes"),tracker
         -if tracker.assigned.nil?
          %span{:class=>"cols w150px noBdr"}="Unassigned"
         -elsif tracker.assigned.empty?                     
          %span{:class=>"cols w150px noBdr"}="Unassigned"
         -else
          %span{:class=>"cols w150px noBdr"}=tracker.assigned
         %span{:class=>"cols w150px"}=tracker.category
         -if tracker.due.nil? 
          %span{:class=>"cols w120px"}="Due"
         -else
          %span{:class=>"cols w120px"}=tracker.due.strftime("%d-%m-%Y")
         %span{:class=>"cols w100px noBdr actionItems1"}
          -if @user.privilige=="Read"
           -if tracker.flag_tracker==true
            =check_box_tag "track_req_flag_#{tracker.id}","",true,:disabled=>true,:title=>"Completed",:style=>"display:none;"
           -else
            =check_box_tag "track_req_flag_#{tracker.id}","",false,:disabled=>true,:title=>"Mark complete",:style=>"display:none;"
          -elsif @user.privilige=="Admin"
           -if tracker.flag_tracker==true
            =check_box_tag "track_req_flag_#{tracker.id}","",true,:title=>"Completed",:style=>"display:none;"
           -else
            =check_box_tag "track_req_flag_#{tracker.id}","",false,:title=>"Mark complete",:style=>"display:none;"
          -else
           -if tracker.flag_tracker==true
            =check_box_tag "track_req_flag_#{tracker.id}","",true,:disabled=>true,:title=>"Completed",:style=>"display:none;"
           -else
            =check_box_tag "track_req_flag_#{tracker.id}","",false,:title=>"Mark complete",:style=>"display:none;"
          -if @user.privilige=="Read"
           =link_to image_tag("delete.gif",:id=>"delete_images_#{tracker.id}",:title=>"Delete tracker"),"#",:confirm => t(:tracker_remove_message_with_out_permisson)
          -elsif ((@user.privilige=="Admin") or (!current_user.nil? and tracker.user_id==current_user.id and @user.privilige!="Read") or (!current_member.nil? and tracker.user_id==current_member.id and @user.privilige!="Read"))
           =link_to image_tag("delete.gif",:id=>"delete_images_#{tracker.id}",:title=>"Unlink tracker"),delete_tracker_req_url(tracker.id)
          -else
           =link_to image_tag("delete.gif",:id=>"delete_images_#{tracker.id}",:title=>"Delete tracker"),"#",:confirm => t(:tracker_no_user)

        %div{:class=>"lower1"}
         =tracker.title
       %div{:id=>"edit_#{tracker.id}"}
   =link_to "<<Return to requirement list",requirements_path
 %div{:class=>"rightPanel"}
  %div{:id=>"storage"}
   %h1="Storage"
   %div{:class=>"rightPanel_show"}=find_storage(@user).to_s + "mb from " + find_total_storage(@user) + "mb used"
   