<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!--
    [if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
 <![endif]
-->
  <link href='http://pure-autumn-9167.heroku.com/images/reqb.ico' rel="shortcut icon" type='image/x-icon' />
  <meta name="google-site-verification" content="Q1kBSynNvKrgQEgYsjFN8di1DqLJKPUDd9Kdeb6yCvc" />
  <title>Fast, effective requriements management:  requirementbox.com</title>
  <meta name="description" content="A web based requirements management tool">
  <meta name="author" content="requirementbox.com">

  <%= stylesheet_link_tag "signin" %>
  <%= javascript_include_tag :all%>
  <%= csrf_meta_tag %>
  <!-- Google Analytics Code -->

      <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29767632-1']);
    _gaq.push(['_setDomainName', 'requirementbox.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

      </script>

      <!-- End of Google Analytics Code -->

      <!-- KISSInsights Code -->

      <script type="text/javascript">var _kiq = _kiq || [];</script>
      <script type="text/javascript" src="//s3.amazonaws.com/ki.js/32361/6iy.js" async="true"></script>
      <script type="text/javascript" charset="utf-8">
         var current_user_email=null;
         var current_member_email=null;
         current_user_email = <%= @current_user.nil? ? '' : @current_user.email %>;
         current_member_email = <%= @current_member.nil? ? '' : @current_member.email %>;
         if(current_user_email != ''){
                 _kiq.push(['user_email', current_user_email]);

         }
          if(current_member_email != ''){

                 _kiq.push(['member_email', current_member_email]);
         }

       </script>

      <!-- End of KISSInsights Code -->
  
</head>
<body>
  <script src = "js/scripts.js"></script>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
